body{
    background-color: orange;
    display:flex;
    align-items: center;
    justify-content: center;
}
body div{
    height:95vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game_board{
    width:390px;
    height:390px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#restart{
    border-style:solid;
    border-color:white;
    border-width: 4px;
    background-color: white;
    width:375px;
    border-radius:20px;
    height:55px;
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
    display:flex;
    align-items: center;
    justify-content: center;
}
#restart:hover{
    border-color: indigo;
}
#source_code{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:white;
}
.square{
    border-style:solid;
    border-color:white;
    border-width: 4px;
    background-color:white;
    border-radius:20px;
    width:110px;
    height:110px;
    align-items: center;
}
.square.highlight{
    border-color:indigo;
}
.ring{
    position:absolute;
    background-color:orange;
    border-radius: 45px;
    width:90px;
    height:90px;
    align-items: center;
    display:none;/*none or flex*/
}
.ring div{
    position:absolute;
    background-color:white;
    border-radius: 25px;
    width:50px;
    height:50px;
}
.cross{
    position:absolute;
    width:90px;
    height:90px;
    display:none;/*none or flex*/
}
.cross div:nth-child(1){
    position:absolute;
    background-color: orange;
    height:100px;
    width:20px;
    border-radius: 10px;
    transform:rotate(45deg);
    left:35px;
}
.cross div:nth-child(2){
    position:absolute;
    background-color: orange;
    height:100px;
    width:20px;
    border-radius: 10px;
    transform:rotate(-45deg);
    left:35px;
}
.square.cross_active div:nth-child(2){
    display:flex;
}
.square.ring_active div:nth-child(1){
    display:flex;
}
#game_board.game_board_inactive{
    pointer-events: none;
}
